.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 30px;
  height: 30px;
  border: 5px solid #FFF;
  border-bottom-color: #017BFE;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-right: 13px;
  }

.button-text {
  display: inline-block;
  vertical-align: super;
}

.stats-wrapper {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.react-tel-input {
  width: 300px !important;
}

@media(max-width: 992px) {
  .stats-wrapper {
    width: 320px;
    height: 300px;
  }

  .react-tel-input {
    width: auto !important;
    margin-bottom: 10px;
  }
}


  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 